<mat-toolbar color="primary" class="navbar">
    <div *ngIf="!isLoggedIn; else loggedInNav">
        <a mat-tab-link routerLink="/login"></a>
        <a routerLink="/login" matTooltip="Itt lehet bejelentkezni">Bejelentkezés</a>
    </div>
  
    <ng-template #loggedInNav>
        <a routerLink="/guests" matTooltip="Itt lehet a vendégeket kezelni">Vendégek</a>
        <a routerLink="/reservations" matTooltip="Itt lehet a foglalásokat kezelni">Foglalások</a>
        <a routerLink="/rooms" matTooltip="Itt lehet a szobákat kezelni">Szobák</a>
        <a (click)="logout()" matTooltip="Itt lehet kijelentkezni">Kijelentkezés</a>
    </ng-template>
</mat-toolbar>