<div class="wrapper">
  <div class="login-container">
    <h2>Bejelentkezés</h2>
    <form>
      <label for="username">Felhasználónév:</label>
      <input type="text" id="felhasznalonev" name="felhasznalonev" [(ngModel)]="felhasznalonev" required>
      <label for="password">Jelszó:</label>
      <input type="password" id="jelszo" name="jelszo" [(ngModel)]="jelszo" required>
      <div class="button-container">
        <button type="button" (click)="login()">Bejelentkezés</button>
        <button type="button" (click)=register()>Regisztráció</button>
      </div>
    </form>
  </div>
</div>