<div class="wrapper">
  <div class="login-container">
    <h2>Bejelentkezés</h2>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Felhasználónév:</mat-label>
        <input matInput type="text" id="felhasznalonev" name="felhasznalonev" [(ngModel)]="felhasznalonev" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Jelszó:</mat-label>
        <input matInput type="password" id="jelszo" name="jelszo" [(ngModel)]="jelszo" required>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="button" (click)="login()">Bejelentkezés</button>
        <button mat-raised-button color="primary" type="button" (click)="register()">Regisztráció</button>
      </div>
    </form>
  </div>
</div>