<div class="wrapper">
    <mat-table [dataSource]="rooms">
        <ng-container matColumnDef="megnevezes">
            <mat-header-cell *matHeaderCellDef>Típus</mat-header-cell>
            <mat-cell *matCellDef="let room">{{ room.megnevezes }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="szobaszam">
            <mat-header-cell *matHeaderCellDef>Szobaszám</mat-header-cell>
            <mat-cell *matCellDef="let room" [ngClass]="{'foglalt': isRoomOccupied(room.szobaszam)}">{{ room.szobaszam
                }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['megnevezes', 'szobaszam']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['megnevezes', 'szobaszam'];"></mat-row>
    </mat-table>
</div>